@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgba(39, 42, 55, 1);
}

/* Container Geral */
.container {
  width: 1440px;
  height: 1024px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(39, 42, 55, 1);
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 779px;
  height: 76px;
  margin-top: 89px;
}

header > h1 {
  font-family: Roboto;
  font-size: 65px;
  font-weight: 1200;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.asterisco {
  width: 24px;
  height: 59px;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 900;
  line-height: 59px;
  letter-spacing: 0em;
  color: rgba(49, 135, 231, 1);
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Button Cadastrar */
.register-button {
  width: 256px;
  height: 55px;
  margin-top: 50px;
  top: 224px;
  left: 592px;
  border-radius: 100px;
  border: none;
  background: rgba(53, 144, 245, 1);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

/* Message Empty Services */
.message-empty-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vector {
  margin-top: 50px;
}

.message {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(131, 131, 131, 1);
  margin-top: 250px
}

.locker {
  width: 47.44828796386719px;
  height: 47.44828796386719px;
  margin-top: 10px;
  top: 548px;
  left: 687px;
}

/* Form */
.form-wrapper {
  display: flex;
  flex-direction: row;
  width: 897px;
  height: 420px;
  margin-top: 30px;
  top: 197px;
  left: 273px;
  border-radius: 10px;
  background: rgba(30, 32, 41, 1);
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.container-form {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.ipt-login-pass {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.ipt-login {
  display: flex;
  flex-direction: column;
}

.ipt-password {
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
}

label {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(141, 141, 141, 1);
  padding: 5px 0;
}

input {
  padding: 10px;
  color: white;
  font-size: 1rem;
}

.serviceName {
  width: 100%;
  height: 53px;
  border-radius: 10px;
  border: none;
  background: rgba(59, 63, 80, 1);
}

.ipts-login-pass {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  gap: 1rem;
}

.login {
  width: 236px;
  height: 53px;
  top: 340px;
  left: 303px;
  border-radius: 10px;
  border: none;
  background: rgba(59, 63, 80, 1);

}

.password {
  width: 271px;
  height: 53px;
  top: 339px;
  left: 555px;
  border-radius: 10px;
  border: none;
  background: rgba(59, 63, 80, 1);
}

#togglePassword {
  width: 40px;
  padding-right: 50px;
  height: 53px;
  padding-top: 10px;
  margin: 20px 0;
  border-radius: 10px;
  border: none;
  background: rgba(59, 63, 80, 1);
  left: 774px;
  top: 341px;
  position: absolute;
}

.url {
  width: 100%;
  height: 53px;
  top: 428px;
  left: 301px;
  border-radius: 10px;
  border: none;
  background: rgba(59, 63, 80, 1);
}

.ipt-url {
  margin: 10px 0;
}

.check-password {
  width: 100%;
  margin: 85px 0px;
  display: flex;
  flex-flow: row;
}

.vetor4 {
  width: 20.5px;
  height: 41px;
  margin: 55px 0px; 
}

.box-check {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: center;
  background: rgba(37, 39, 48, 1);
  width: 263px;
  height: 147px;
  border-radius: 10px;
}

.buttons-form {
  width: 65%;
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.btn-form-register {
  width: 211px;
  height: 55px;
  top: 528px;
  left: 616px;
  border-radius: 100px;
  background: rgba(53, 144, 245, 1);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

.btn-form-cancel {
  width: 72px;
  height: 21px;
  color: rgba(53, 144, 245, 1);
  font-size: 1.1rem;
  background: rgba(30, 32, 41, 1);
  border: none;
  cursor: pointer;
}

.campos-obrigatorios {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
  color: rgba(141, 141, 141, 1);
}

/* Checkbox */
.checkbox-pass {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}

.label-checkbox {
  border-radius: 50px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(53, 144, 245, 1);
}

.checkbox {
  width: 40px;
  height: 20px;
  top: 366px;
  left: 1131px;
  border-radius: 50px;
}

/* Services */
.section-services {
  display: flex;
  flex-flow: column wrap;
  align-items: center;  
  width: 900px;
  height: 895px;
  margin: 62px 0;
  border: 3px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.service-list {
  display: flex;
  flex-direction: row;
  width: 240px;
  height: 170px;
  top: 438px;
  left: 274px;
  border-radius: 10px;
  background: rgba(50, 53, 68, 1);
  padding-left: 10px;
}

.list {
  list-style-type: none;
  padding: 10px;
}

.list-service-name {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.icon-locker {
  width: 10%;
}

.link-service {
  width: 80%;
  text-align: right;
  padding-right: 10px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  color: rgba(53, 144, 245, 1);
}

.icon-link-image {
  width: 10%;
}

.login-service {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding-top: 15px;
}

.login-title {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(156, 188, 224, 1);
}

.login-value {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;
  color: rgba(233, 233, 233, 1);
}

.list-password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.password-title {
  width: 33px;
  height: 14px;
  top: 540px;
  left: 298px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(156, 188, 224, 1);  
}

.password-value {
  width: 126px;
  height: 16px;
  top: 538px;
  left: 370px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;
  color: rgba(255, 255, 255, 1);
}

.btn-remover {
  float: right;
  background: rgba(50, 53, 68, 1);
  border: none;
}