@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgba(39, 42, 55, 1);
}

/* Container Geral */
.container {
  width: 1440px;
  height: 1024px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(39, 42, 55, 1);
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 779px;
  height: 76px;
  margin-top: 89px;
}

header > h1 {
  font-family: Roboto;
  font-size: 65px;
  font-weight: 1200;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.asterisco {
  width: 24px;
  height: 59px;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 900;
  line-height: 59px;
  letter-spacing: 0em;
  color: rgba(49, 135, 231, 1);
}

/* Button Cadastrar */
.register-button {
  width: 256px;
  height: 55px;
  margin-top: 50px;
  top: 224px;
  left: 592px;
  border-radius: 100px;
  border: none;
  background: rgba(53, 144, 245, 1);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
